@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-bg {
    background: whitesmoke url('../images/cat1.jpg');
    background-position: 30% 65%;
    color: black;
    text-align: left;
    padding-bottom: 10em;
}

header {
    padding: 1em 0em;
}

.hero-bg a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.hero-bg section {
    width: 55%;
}

.hero-bg p {
    margin: 0 0 3em;
}

section {
    margin: 0 4em;
}

h1 {
    font-size: 2.5rem;
    margin: 2em 0 2em;
}

p {
    line-height: 2em;
}

.lvl2 {
    margin: 0;
}

section.lvl2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 
        "cat content";
}

.right-col {
    grid-area: content;
    padding: 0 10%;
    text-align: left;
    align-self: center;
}

img {
    grid-area: cat;
}

h2 {
    margin: 0;
}

.lvl3 {
    margin: 0;
}

section.lvl3 {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: 
        "content1 cat2 content2";
}

.left-col {
    grid-area: content1;
    padding: 4em 10%;
    text-align: left;
    align-self: left;
}

.right-col2 {
    grid-area: content2;
    padding: 0 10%;
    text-align: left;
    align-self: center;
    background: #ddbea9 url('../images/contact_color.png');
    width: -55%;
}
